DISCORD_TOKEN=-----
DISCORD_CLIENT_ID==-----

LLM_PROVIDER=openrouter
OPENROUTER_ENABLED=true
OPENROUTER_API_KEY=api-key
OPENROUTER_MODEL_HEAVY=deepseek/deepseek-v3:free
OPENROUTER_MODEL_LIGHT=openrouter/auto
OPENROUTER_MODEL_ROUTING=meta-llama/llama-3.3-70b-instruct:free


OLLAMA_BASE_URL=http://127.0.0.1:11434
OLLAMA_MODEL=gemma3:4b


DISCORD_CHANNELS_DEV==-----
DISCORD_CHANNELS_GAMER==-----
DISCORD_CHANNELS_COMPANION==-----,=-----

MORTEZA_ID==-----